/* App.css */

/* Center the Unity element in the viewport */
.container {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 85vw;
  overflow: hidden;
}

/* Style for the Unity element */
.unity-container {
  /* Set your desired dimensions */
  width: 80vw;
  height: 80vh;
  padding-left: 18%;
  justify-content: center;
  max-width: 800px;
  max-height: 800px;
}

/* Style for the D-pad button container */
.button-container {
  position:absolute;
  padding-left: 15pc;
  bottom: 10%;
}

/* Style for individual D-pad buttons */
.button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
}

.button:hover {
  background-color: #2980b9;
}

/* Define D-pad button arrows */
.button-up::before {
  content: '↑';
}

.button-down::before {
  content: '↓';
}

.button-left::before {
  content: '←';
}

.button-right::before {
  content: '→';
}
